
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Adress</title>
</head>
<body>

	<div align="center"></div>

	<h1>Edit Adress</h1>

	<br />

	<form action="#" th:action="@{/updateAdress}" th:object="${adress}"
		method="post">


		<table border="1" cellpadding="10">

			<!-- 1 -->
			<tr>

				<td>ID</td>
				<td><input type="text" th:field="*{nr_adresu}"
					readonly="readonly"></td>

			</tr>
			<!--  2 -->
			<tr>

				<td>Miasto</td>
				<td><input type="text" th:field="*{miasto}"></td>

			</tr>
			<!--  3 -->
			<tr>

				<td>Ulica</td>
				<td><input type="text" th:field="*{ulica}"></td>

			</tr>
			<!--  4 -->
			<tr>

				<td>NR_Lokalu</td>
				<td><input type="text" th:field="*{nr_lokalu}"></td>

			</tr>
			<!--  5 -->
			<tr>

				<td>NR_Poczty</td>
				<td><input type="text" th:field="*{nr_poczty}"></td>

			</tr>
			<!--  Save -->
			<tr>

				<td>ID</td>
				<td colspane="2"><button type="submit">Save</button></td>

			</tr>


		</table>




	</form>




</body>
</html>