
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Oceanarium</title>
</head>
<body>

	<div align="center"></div>

	<h1>Edit Oceanarium</h1>

	<br />

	<form action="#" th:action="@{/updateOceanarium}" th:object="${oceanarium}"
		method="post">


		<table border="1" cellpadding="10">

			<!-- 1 -->
			<tr>

				<td>nr_oceanarium</td>
				<td><input type="text" th:field="*{nr_oceanarium}" readonly="readonly"></td>

			</tr>
			<!--  2 -->
			<tr>

				<td>nazwa</td>
				<td><input type="text" th:field="*{nazwa}" ></td>

			</tr>
			<!--  3 -->
			<tr>

				<td>nr_adresu</td>
				<td><input type="text" th:field="*{nr_adresu}"></td>

			</tr>
			
			<!--  Save -->
			<tr>

				<td>ID</td>
				<td colspane="2"><button type="submit">Save</button></td>

			</tr>


		</table>




	</form>




</body>
</html>