<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Oceanarium app manager</title>
</head>
<body>

	<div align="center">
		<!-- Page header -->
		<h1>Choose</h1>

		<!-- Entry to a new page -->
		<a href="/adresy"> Adresy</a>
		
		<!-- Entry to a new page -->
		<a href="/atrakcje">Atrakcje</a>
		
		<!-- Entry to a new page -->
		<a href="/delfiny">Delfiny</a>
		
		<!-- Entry to a new page -->
		<a href="/foki">Foki</a>
		
		<!-- Entry to a new page -->
		<a href="/klienci">Klienci</a>
		
		<!-- Entry to a new page -->
		<a href="/oceanaria">Oceanaria</a>
		
		<!-- Entry to a new page -->
		<a href="/opiekunowie_zbiorniki_wodne">Opiekunowie_zbiorniki_wodne</a>
		
		<!-- Entry to a new page -->
		<a href="/poczty">Poczty</a>
		


	</div>

</body>
</html>