<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Adress</title>
</head>
<body>

	<div align="center">
		<!-- Page header -->
		<h1>Enter new Adress</h1>

		<form action="#" th:action="@{/save}" th:object="${adress}"
			method="post">

			<!-- Table -->
			<table border="1" cellpadding="10">

				<!-- Table first row -->
				<tr>
					<td>Miasto</td>
					<td><input type="text" th:field="*{miasto}"></td>
				</tr>
				<tr>
					<td>Ulica</td>
					<td><input type="text" th:field="*{ulica}"></td>
				</tr>
				<tr>
					<td>Nr_lokalu</td>
					<td><input type="text" th:field="*{nr_lokalu}"></td>
				</tr>
				<tr>
					<td>Nr_poczty</td>
					<td><input type="text" th:field="*{nr_poczty}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button>
				</tr>



			</table>

		</form>


	</div>

</body>
</html>